.navbar {
    width: 100%;
    height: 70px;
    background-color: #E6E6FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    z-index: 50;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    /* background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%); */
  }
  
  .navbar__logo h2 {
    padding-top: 3rem;
    size: 1rem;
  }
  
  .navbar__links {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar__links > li {
    padding-left: 1.5rem;
  }
  
  .navbar__links > li > a {
    text-decoration: none;
    color: #171717;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }
  
  .navbar__links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 2px;
  }
  
  .cart__link {
    background: rgb(210, 172, 105);
    padding: 10px;
    border-radius: 8px;
  }
  
  .cart__link:hover {
    background: #ff5e6c;
    color: #f4f4f4;
  }
  
  .cartlogo__badge {
    width: 20px;
    height: 20px;
    background-color: #171717;
    border-radius: 50%;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0 5px;
    position: absolute;
    top: 1rem;
    right: 6.5rem;
  }
  .shop{
    padding-right: 1rem;
  }
  .shop:hover {
    background: #ff5e6c;
    color: #f4f4f4;  
    padding: 8px;
    border-radius: 10px;  
  }
  .hamburger__menu {
    display: none;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 1rem;
  }
  
  .hamburger__menu:hover > div {
    background: #171717;
  }
  
  .hamburger__menu > div {
    width: 100%;
    height: 3px;
    background: #171717;
  }
  
  @media (max-width: 960px) {
    .navbar__links {
      display: none;
    }
  
    .hamburger__menu {
      display: flex;
    }
  }
  
  @media (max-width: 500px) {
    .navbar__logo h2 {
      font-size: 1.5rem;
    }
  }