.product {
    width: 250px;
    /* padding: 1rem; */
    background: #2e2e2e;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product:hover{
      -webkit-box-shadow: 0px 0px 100px 0px rgb(210, 172, 105, 0.9);
      -moz-box-shadow: 0px 0px 100px 0px rgba(210, 172, 105,0.9);
      box-shadow: 0px 0px 100px 0px rgba(210, 172, 105, 0.9);    
      transition: .8s ease;
    }
  
  .product-img{
    padding: 2rem;
    background-color: #f4f4f4;
    color: #0c00001b;
  }
  .product__info{
    /* background-color: #f4f4f4; */
    color: rgb(210, 172, 105);
  }
  .img-container{
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }  
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    color: #fff;
    background: #020100;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: rgb(236, 231, 231);
    background-color: rgb(17, 53, 85);
  }
  .product-img {
    display: block;
    width: 100%;
    max-height: 12rem;
    transition: all 0.3s linear;
  }
  .product > img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product__info > p {
    margin-bottom: 8px;
    padding-top: 10px;
    padding-left: 1rem;
  }
  
  .info__price {
    font-weight: bold;
  }
  
  .info__name {
    font-size: 1rem;
    overflow: hidden;
    padding-top: 1rem;
    font-weight: bold;
  }
  
  .info__description {
    font-size: 0.8rem;
  }
  
  @media (max-width: 1232px) {
    .product {
      width: 360px;
    }
  }
  
  @media (max-width: 1115px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 1028px) {
    .product {
      width: 300px;
    }
  }
  
  @media (max-width: 950px) {
    .product {
      width: 400px;
    }
  }
  
  @media (max-width: 830px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 700px) {
    .product {
      width: 290px;
    }
  }
  
  @media (max-width: 630px) {
    .product {
      width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .product {
      width: 350px;
    }
  }
  
  @media (max-width: 400px) {
    .product {
      width: 300px;
    }
  }
