.homescreen {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: TransitionIn 0.5s;
  }
  .lady1 {
    position: relative;
    height: 550px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  
  .lady1 img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
  .lady {
    position: relative;
    height: 550px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  
  .lady img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  .lady img.centerfit1:hover {
    opacity:0;
  }
  /* .bg-active{
    background: #e5e4e2;
  } */ /* this actually works in index.js */
  .homescreen__title {
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    padding-top: 5rem;
    border-bottom: 1px solid #dadada;
  }

  .homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .serviceslist{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    
  }

  .serviceslist > h2 {
    font-weight: lighter;
  }

  @media (max-width: 1232px) {
    .homescreen__products {
      grid-template-columns: repeat(3, auto);
    }
  }
  
  @media (max-width: 950px) {
    .homescreen__products {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 630px) {
    .homescreen__products {
      grid-template-columns: 1fr;
    }
    .serviceslist{
      flex-direction: column;
      flex: 1;
      align-items: center;
    }
  }
  @keyframes TransitionIn {
    from{
       opacity: 0;
       transform: rotateX(-10deg);
    }
    to{
       opacity: 1;
       transform: rotateX(0);
    }
  }