* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFE8E5;
    transition: all 0.5s ease;
    /* background: url(../public/try1.jpg); */
}
  
img {
    width: 100%;
    object-fit: scale-down;
    padding: 1rem;
}
.bg-active{
    background-color: rgb(248, 250, 252);
  }